<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Project</title>
</head>
<body>
    <div id="hello">
        {{ message }}
    </div> </br>
    <hr>

    <div id="conditional">
        <p>{{ conditional }}</p>
        <p v-if="a > 10">A is Big</p>
        <p v-else-if="b > 10">B is Big</p>
        <p v-else>C is Big</p>
    </div>
    <hr>

    <div id="model">
        <label>Name:</label>
        <input type="text" v-model='message'>
        <p>message is: {{ message }}</p>
    </div>    
    <hr>

    <div id="toggling">
        <template v-if="seen">
            <label>Username</label>
            <input type="text" placeholder="Username">
        </template>
        <template v-else>
            <label>Email</label>
            <input type="text" placeholder="Email">
        </template>
        <button @click='seen = !seen'>Toggle</button>
    </div>
    <hr>

    <div id="check">
        <label>Enter the Value</label>
        <input type="number" v-model="check">
        <p v-if="check >= 100">Century</p>
        <p v-else-if="check < 100 && check != ''">Half Century</p>
        <p v-else></p>
    </div>
    <hr>

    <h1>Simple calculator</h1>

    <div id="calculator">
        <label>Select The Operator</label>
        <select v-model="selected">
            <option value="" selected>Select type of operator</option>
            <option value="addition">Addition</option>
            <option value="subtraction">Subtraction</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select><br><br>

        <div>
            <label>Enter A</label>
            <input type="number" v-model="number1"><br><br>

            <label>Enter B</label>
            <input type="number" v-model="number2"><br><br>
            <button v-if="selected" v-on:click="calculator">{{ selected }}</button>
        </div>
        <p v-if='total'>Total is: {{ total }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
